@page
@model Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Inicio Sesión";
}

<style>
   
    
    .main-screen {
        height: 100%;
        background-image: linear-gradient(#6892b6,#EDEDED);    
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        font-size: 5rem;
    }
    
    .subtitle {
        position: absolute;
        right: -15px;
        bottom: 0;
        color: rgb(147 51 234);
        font-weight: bold;
    }
    
    .main-content {
        margin-top: 4rem;
        min-width: 20rem;
        max-width: 30rem;
    }
    
    .button {
        background-color: blue;
        color: white;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
    
    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>

@* <h1>@ViewData["Title"]</h1> *@
@* <div class="row" style="margin:50px">

    <div class="col-md-4">
        <section>
            <form method="post">
                @Html.AntiForgeryToken()
                <h2>Login.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> <div class="form-floating" style="margin:10px">
                    <input asp-for="LoginModel.UserName" class="form-control" autocomplete="Email" aria-required="true" />
                    <label asp-for="LoginModel.UserName" class="form-label"></label>
                    <span asp-validation-for="LoginModel.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="LoginModel.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="LoginModel.Password" class="form-label"></label>
                    <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="2100 btn btn-lg btn-primary">Login </button>
                </div>
            </form>
        </section>

    </div>
</div> *@


<div class='main-screen'>
    <div style="position: relative">
        <h1 class="title">HotelWiz</h1>
        <h5 class="subtitle">Admin</h5>
    </div>
    <div class="main-content">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="error-msg"></div>
            <div >
                <label asp-for="LoginModel.UserName" class="form-label">Usuario</label>
                <input asp-for="LoginModel.UserName" class="form-control" autocomplete="Email" placeholder="Correo electronico" aria-required="true"/>

                <span asp-validation-for="LoginModel.UserName" class="text-danger"></span>
            </div>
            <div style="margin-top: 2rem" >
                <label asp-for="LoginModel.Password" class="form-label">Contraseña</label>
                <input asp-for="LoginModel.Password" class="form-control" autocomplete="current-password" placeholder="Contraseña" aria-required="true"/>

                <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
            </div>
            <div class="my-5" style="margin:10px">
                <button id="login-submit"
                        type="submit"
                        class="button">
                    Ingresar
                </button>
            </div>
        </form>
        <div class="form-footer">
            <div>
                <input type='checkbox' name='remember' />
                <span >Recordarme</span>
            </div>
            <div >
                <a href='/recuperar-contraseña'>
                    ¿Olvidaste tu contraseña?
                </a>
            </div>
        </div>
    </div>
</div>