@page "/index"
@using HotelWiz.Data
@using S11.Common.Dto.Reservation;
@using S11.Services;
@inject NavigationManager NavigationManager
@inject ReservationsService _reservationsService

<PageTitle>Inicio</PageTitle>

<style>


    .main-screen {
        height: 100%;
        background-image: linear-gradient(#6892b6,#EDEDED);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 5rem;
    }

    .subtitle {
        position: absolute;
        right: -15px;
        bottom: 0;
        color: rgb(147 51 234);
        font-weight: bold;
    }

    .main-content {
        margin-top: 4rem;
        min-width: 20rem;
        max-width: 30rem;
    }

    .button {
        background-color: blue;
        color: white;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }

    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>


<div class='main-screen'>
    <div style="position: relative">
        <h1 class="title">HotelWiz</h1>
      
    </div>
    <div class="main-content">
        <div class="main-content">
            <div class="my-5" style="margin:10px">
                <a href="@("dashboard")" class="button">Ir a la App</a>
            </div>
        </div>
        
        </div>
    </div>
    @code {
    private void GoToDashboard()
    {
        NavigationManager.NavigateTo("/dashboard");
    }
    }