
:root {
    --text-font-family: "SFPro Text-Regular", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 16px;
    --text-letter-spacing: -0.3199999928474426px;
    --text-line-height: 21px;
    --text-font-style: normal;
    --caption2-regular-font-family: "SFPro Text-Regular", Helvetica;
    --caption2-regular-font-weight: 400;
    --caption2-regular-font-size: 11px;
    --caption2-regular-letter-spacing: 0.06599999964237213px;
    --caption2-regular-line-height: 13px;
    --caption2-regular-font-style: normal;
    --caption2-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --caption2-bold-font-weight: 400;
    --caption2-bold-font-size: 11px;
    --caption2-bold-letter-spacing: 0.05999999865889549px;
    --caption2-bold-line-height: 13px;
    --caption2-bold-font-style: normal;
    --caption1-regular-font-family: "SFPro Text-Regular", Helvetica;
    --caption1-regular-font-weight: 400;
    --caption1-regular-font-size: 12px;
    --caption1-regular-letter-spacing: 0px;
    --caption1-regular-line-height: 16px;
    --caption1-regular-font-style: normal;
    --caption1-bold-font-family: "SFPro Text-Medium", Helvetica;
    --caption1-bold-font-weight: 500;
    --caption1-bold-font-size: 12px;
    --caption1-bold-letter-spacing: 0px;
    --caption1-bold-line-height: 16px;
    --caption1-bold-font-style: normal;
    --footnote-regular-font-family: "SFPro Text-Regular", Helvetica;
    --footnote-regular-font-weight: 400;
    --footnote-regular-font-size: 13px;
    --footnote-regular-letter-spacing: -0.07800000160932541px;
    --footnote-regular-line-height: 18px;
    --footnote-regular-font-style: normal;
    --footnote-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --footnote-bold-font-weight: 400;
    --footnote-bold-font-size: 13px;
    --footnote-bold-letter-spacing: -0.07800000160932541px;
    --footnote-bold-line-height: 18px;
    --footnote-bold-font-style: normal;
    --subheadline-regular-font-family: "SFPro Text-Regular", Helvetica;
    --subheadline-regular-font-weight: 400;
    --subheadline-regular-font-size: 15px;
    --subheadline-regular-letter-spacing: -0.23999999463558197px;
    --subheadline-regular-line-height: 20px;
    --subheadline-regular-font-style: normal;
    --subheadline-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --subheadline-bold-font-weight: 400;
    --subheadline-bold-font-size: 15px;
    --subheadline-bold-letter-spacing: -0.5px;
    --subheadline-bold-line-height: 20px;
    --subheadline-bold-font-style: normal;
    --callout-regular-font-family: "SFPro Text-Regular", Helvetica;
    --callout-regular-font-weight: 400;
    --callout-regular-font-size: 16px;
    --callout-regular-letter-spacing: -0.3199999928474426px;
    --callout-regular-line-height: 21px;
    --callout-regular-font-style: normal;
    --callout-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --callout-bold-font-weight: 400;
    --callout-bold-font-size: 16px;
    --callout-bold-letter-spacing: -0.3199999928474426px;
    --callout-bold-line-height: 21px;
    --callout-bold-font-style: normal;
    --body-regular-font-family: "SFPro Text-Regular", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 17px;
    --body-regular-letter-spacing: -0.40799999237060547px;
    --body-regular-line-height: 22px;
    --body-regular-font-style: normal;
    --body-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --body-bold-font-weight: 400;
    --body-bold-font-size: 17px;
    --body-bold-letter-spacing: -0.40799999237060547px;
    --body-bold-line-height: 22px;
    --body-bold-font-style: normal;
    --headline-regular-font-family: "SFPro Text-Semibold", Helvetica;
    --headline-regular-font-weight: 400;
    --headline-regular-font-size: 17px;
    --headline-regular-letter-spacing: -0.40799999237060547px;
    --headline-regular-line-height: 22px;
    --headline-regular-font-style: normal;
    --headline-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --headline-bold-font-weight: 400;
    --headline-bold-font-size: 17px;
    --headline-bold-letter-spacing: -0.40799999237060547px;
    --headline-bold-line-height: 22px;
    --headline-bold-font-style: normal;
    --title3-regular-font-family: "SFPro Display-Regular", Helvetica;
    --title3-regular-font-weight: 400;
    --title3-regular-font-size: 20px;
    --title3-regular-letter-spacing: 0.3799999952316284px;
    --title3-regular-line-height: 25px;
    --title3-regular-font-style: normal;
    --title3-bold-font-family: "SFPro Display-Semibold", Helvetica;
    --title3-bold-font-weight: 400;
    --title3-bold-font-size: 20px;
    --title3-bold-letter-spacing: 0.3799999952316284px;
    --title3-bold-line-height: 25px;
    --title3-bold-font-style: normal;
    --title2-regular-font-family: "SFPro Display-Regular", Helvetica;
    --title2-regular-font-weight: 400;
    --title2-regular-font-size: 22px;
    --title2-regular-letter-spacing: 0.3499999940395355px;
    --title2-regular-line-height: 28px;
    --title2-regular-font-style: normal;
    --title2-bold-font-family: "SFPro Display-Bold", Helvetica;
    --title2-bold-font-weight: 700;
    --title2-bold-font-size: 22px;
    --title2-bold-letter-spacing: 0.3499999940395355px;
    --title2-bold-line-height: 28px;
    --title2-bold-font-style: normal;
    --title1-regular-font-family: "SFPro Display-Regular", Helvetica;
    --title1-regular-font-weight: 400;
    --title1-regular-font-size: 28px;
    --title1-regular-letter-spacing: 0.36399999260902405px;
    --title1-regular-line-height: 34px;
    --title1-regular-font-style: normal;
    --title1-bold-font-family: "SFPro Display-Bold", Helvetica;
    --title1-bold-font-weight: 700;
    --title1-bold-font-size: 28px;
    --title1-bold-letter-spacing: 0.36000001430511475px;
    --title1-bold-line-height: 34px;
    --title1-bold-font-style: normal;
    --largetitle-regular-font-family: "SFPro Display-Regular", Helvetica;
    --largetitle-regular-font-weight: 400;
    --largetitle-regular-font-size: 34px;
    --largetitle-regular-letter-spacing: 0.37400001287460327px;
    --largetitle-regular-line-height: 41px;
    --largetitle-regular-font-style: normal;
    --largetitle-bold-font-family: "SFPro Display-Bold", Helvetica;
    --largetitle-bold-font-weight: 700;
    --largetitle-bold-font-size: 34px;
    --largetitle-bold-letter-spacing: 0.37400001287460327px;
    --largetitle-bold-line-height: 41px;
    --largetitle-bold-font-style: normal;
}


.dashboard-cards {
    display: flex;
    flex-direction: column;
    /*width: 264.28px;*/
    height: 224.7px;
    align-items: center;
    justify-content: center;
    /*gap: 10.21px;*/
    padding: 64px 35.75px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border: 0.64px solid;
    border-color: #d9d9d9;
}

    .dashboard-cards .icons {
        position: relative;
        width: 51.07px;
        height: 51.07px;
        margin-top: -13.4px;
    }

    .dashboard-cards .text-wrapper {
        position: relative;
        width: fit-content;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 26px;
        text-align: right;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .dashboard-cards .div {
        position: relative;
        align-self: stretch;
        margin-bottom: -12.76px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 18.9px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

